main#react-root

noscript
	p This site will not function without enabling Javascript.
	p Please enable Javascript to continue.
	p To view the source code for this site, please visit:
	p
		a(href="https://github.com/ReidLitkauo/place") https://github.com/ReidLitkauo/place

