#main-canvas-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
}
#main-canvas-parent #main-canvas {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 50vmin;
  height: 50vmin;
  transform-origin: top left;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background: #181818;
}
#main-canvas-parent #canvas-reticle {
  position: fixed;
  pointer-events: none;
}
#main-canvas-parent #canvas-reticle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(120%);
}
