#main-canvas-parent {
  position: relative;
}
#main-canvas-parent #main-canvas {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 50vmin;
  height: 50vmin;
  border: 150vmax solid #333;
  transform-origin: top left;
  transform: scale(1) translate(calc(0vmin - 150vmax), calc(0vmin - 150vmax));
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background: radial-gradient(circle, rgb(58, 164, 180) 0%, rgb(139, 44, 192) 18%, rgb(253, 29, 29) 37%, rgb(253, 191, 49) 61%, rgb(139, 252, 69) 87%);
}
#main-canvas-parent #canvas-reticule {
  position: fixed;
  pointer-events: none;
  background: red;
}
